<div class="layout-topbar">
  <div class="fluid-container">
      <div class="row">
          <div class="col-md-10">
              <div class="col-md-3">
                <h1 class="title">Angular 7 SignalR Notifications</h1>
              </div>
          </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>

<div>
  <h2>Messages</h2>
  <p *ngFor="let message of messages">
    {{message.name}} | "{{message.text}}"
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <input type="text" [(ngModel)]="message.name" />
  </div>
  <div class="col-md-4">
      <input type="text" [(ngModel)]="message.text" />
  </div>
  <div class="col-md-4">
      <button (click)="sendMessage()">Send</button>
  </div>
</div>
